body {
  background-color: aquamarine;
}
<<<<<<< HEAD
div {
  display: block;
  text-align: center;
}
p {
  font-weight: bolder;
  font-size: large;
}
img.logo {
  width: 300px;
  display: block;
  display: list-item;
}
=======
h1 {
  color: navy;
}
h1.uno {
  text-align: center;
  align-items: center;
}
h3.dos {
>>>>>>> ccnobe
  text-align: center;
}
